<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/LinkUpLogo.ico" alt="Logo" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="h-8 w-8 rounded-circle object-cover" src="{{ request.user.profile.avatar }}" width="30" height="30"/>
            {{ user.profile.name }}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
          </ul>
        </li>
        {% else %}
        <a class="btn btn-dark" href="{% url 'account_login' %}" role="button">Login</a>
        <a class="btn btn-dark" href="{% url 'account_signup' %}" role="button">Register</a>
        {% endif %}
      </ul>

    </div>
    <p class="text-center text-black">
          development frontend
        </p>
  </div>
</nav>

