<div class="col rounded-4" style="background-color: #e9ecef;">
    <h1>Folowers</h1>
    {% if user.is_authenticated %}
      {% for folower in folowers %}
        <div class="mx-auto m-2">
            <div
                class="d-flex align-items-center justify-content-between rounded-3 p-2 btn btn-outline-dark"
                style="cursor: pointer;"
                onclick="window.location.href='{% url 'profile' username=folower.username %}'"
            >
                <div class="align-items-center text-decoration-none" aria-expanded="false">
                    <img class="h-8 w-8 rounded-circle object-cover" src="{{ folower.profile.avatar }}" width="40" height="40"/>
                    <span class="fw-bold">{{ folower.profile.name }}</span>
                </div>
                <a class="btn btn-warning btn-sm m-2"
                   href="{% url 'chat' folower.username %}"
                   role="button"
                   onclick="event.stopPropagation();">
                    chat
                </a>

            </div>
        </div>
      {% endfor %}
    {% else %}
        Sign in to see your folowers
    {% endif %}
</div>