{% extends 'layouts/blank.html' %}

{% block content %}
<h1>
    this will be my chat page
</h1>
<div class="bg-secondary border rounded">
    <div id="chat_container" style="height: 400px; overflow-y: auto; padding: 10px;">
        <ul id="chat_messages">
            {% for message in chat_messages reversed %}
            {% include 'a_chat/chat_message.html' %}
            {% endfor %}
        </ul>
    </div>
    <form id="chat_message_form" class="m-2"
            hx-post="{% url 'chat' other_user.username %}"
            hx-target="#chat_messages"
            hx-swap="beforeend">
<!--instead of post method there will be htmx stuff-->
    {{ form.body }}
    {% csrf_token %}
    </form>
</div>

{%block javascript  %}
<script>
    function scrollToBottom() {
        const container = document.getElementById('chat_container');
        container.scrollTop = container.scrollHeight;
    }
    scrollToBottom()
</script>
{% endblock %}

{% endblock %}
