{% extends 'layouts/blank.html' %}

{% block content %}
<h1>
    this will be my chat page
</h1>
<div class="bg-secondary border rounded">
    <div id="chat_container" style="height: 400px; overflow-y: auto; padding: 10px;">
        <ul id="chat_message">
            {% for message in chat_messages reversed %}
            {% include 'a_chat/chat_message.html' %}
            {% endfor %}
        </ul>
    </div>
    <form class="m-2" method="post">
    {{ form.body }}
    {% csrf_token %}
    </form>
</div>

{%block javascript  %}
<script>
    function scrollToBottom() {
        const container = getElementById('chat_container');
        container.scrollTop = container.scrollHeight;
    }
    scrollToBottom()
</script>
{% endblock %}

{% endblock %}
