{% extends 'layouts/box.html' %}
{% block content %}
    <div class="max-w-lg mx-auto flex flex-col items-center pt-20 px-4">
     <div class="text-center">
     <img class="rounded-circle object-cover mt-2 mb-4" src="{{ profile.avatar }}" width="50" height="50"/>
         <a class="btn btn-close mt-2 mx-2 float-end" href="{% url 'home' %}" role="button"></a>
         <h1>{{ profile.name }}</h1>
         <div class="text-gray-400 mb-2 -mt-3">{{ profile.username }}</div>
         <table class="table">
          <thead>
            <tr>
              <th scope="col">Posts</th>
              <th scope="col">Folowers</th>
              <th scope="col">Folowing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  {% if post_count %}
                    {{ post_count }}
                  {% else %}
                    0
                  {% endif %}
              </td>
              <td>
                  {% if profile.folowers %}
                    {{ profile.folowers.count }}
                  {% else %}
                    0
                  {% endif %}
              </td>
              <td>
                  {% if profile.user.subscribers %}
                    {{ profile.user.subscribers.count }}
                  {% else %}
                    0
                  {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
         {% if profile.info %}
         <div class="mt-8 hyphens-auto bg-warning">{{ profile.info }}</div>
         {% else %}
         <div class="mt-8 hyphens-auto bg-warning">No Bio</div>
         {% endif %}
         {% if profile.user == request.user %}
         <a class="btn btn-primary m-2" href="{% url 'profile-edit' %}" role="button">Edit profile</a>
         <a class="btn btn-primary m-2" href="{% url 'profile-settings' %}" role="button">Account settings</a>
         {% else %}
         <a class="btn btn-outline-primary m-2" href="{% url 'folow' profile.user.username %}" role="button">subscribe</a>
         <a class="btn btn-primary m-2" href="{% url 'chat' profile.user.username %}" role="button">send message</a>
         {% endif %}
     </div>
    </div>
{% endblock %}

