{% extends 'layouts/blank.html' %}

{% block content %}

<div class="container mt-4 mb-3">
    <div class="row text-black gap-3 align-items-start">

        {% include 'includes/left_div.html' %}

        <div class="col-6 rounded-4" style="background-color: #dee2e6;">
            <div class="max-w-4xl mx-auto px-8 py-24">

                <div class="d-grid gap-2 col-10 mx-auto mt-3">
                    <a class="btn btn-primary" type="button" href="{% url 'create-post' %}">
                        <img class="h-8 w-8 rounded-circle object-cover" src="{{ request.user.profile.avatar }}" width="30" height="30"/>
                            What's on your mind?
                    </a>
                </div>
                <br/>

                {% if post_feed %}
                    {% for post in post_feed reversed %}

                {% include 'includes/home_feed_post.html' %}
                    {% endfor %}
                {% else %}
                    there is no posts
                {% endif %}
            </div>
        </div>

        {% include 'includes/right_div.html' %}

    </div>

</div>

{% endblock %}